/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}

.layout {
  position: absolute;
  opacity: 0.5;
  width: 100%;
}

.header {
  padding-bottom: 85px;
}

.header-logo {
  padding: 47px 0px 39px 0px;
}

.header-content {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:175px;
}

.header-content-cta {
  justify-self:start;
}

.header-content-cta-title {
  font-weight: normal;
  font-size: 36px;
  margin-top: 15px;
  padding-left: 2px;
  line-height: 47px;
  letter-spacing: -0.3px;"
}

.header-content-cta-text {
  font-size: 19px;
  letter-spacing:0px;
  line-height:32px;
  margin-top: -3px;
  margin-left:0px;
  color: #555555;
}

.header-content-image {
  justify-self:end;
}


.button {
  text-transform: uppercase;
  border: none;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  line-height:0px;
  padding: 24px 26px;
  background-color: #4daf7c;
  background-image: -moz-linear-gradient( -90deg, rgba(255,255,255,0.14902) 0%, rgba(0,0,0,0.07843) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgba(255,255,255,0.14902) 0%, rgba(0,0,0,0.07843) 100%);
  background-image: -ms-linear-gradient( -90deg, rgba(255,255,255,0.14902) 0%, rgba(0,0,0,0.07843) 100%);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15),inset 0px -1px 0px 0px rgba(0, 0, 0, 0.05),inset 0px 0px 1px 0px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  color: #ffffff;
}




.cards {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-column-gap: 56px;
  grid-row-gap: 74px;
  padding: 112px 2px;
}

.card {
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden; 
  box-shadow: 0px 15px 35px 0px rgba(50, 50, 93, 0.1),0px 5px 15px 0px rgba(0, 0, 0, 0.07);
  transform:  scale(1);
  transition: transform 200ms ease-out 100ms;
}

.card:hover {
  transform: scale(1.05);
}

.card-logo {
  display: flex;
  justify-content: center;
  padding: 71px 0px 74px 0px;
  background-image: -moz-linear-gradient( -45deg, rgb(44,44,44) 0%, rgb(20,20,20) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(44,44,44) 0%, rgb(20,20,20) 100%);
  background-image: -ms-linear-gradient( -45deg, rgb(44,44,44) 0%, rgb(20,20,20) 100%);
}

.card-content {
  padding: 0px 26px 28px 30px;
  background: white;
}

.card-content-title {
  padding: 30px 0px 0px 0px;
  font-size: 22px;
  font-weight: bold;
}

.card-content-excerpt {
  font-size: 18px;
  color: #555555;
  line-height: 22px;
  height: 46px;
  overflow-y: hidden;
}

.bottom-cta {
  padding-top: 33px;
  font-size:  26px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.bottom-cta-text {
  color: #7c7c7c;
  text-align:
  center;padding:
  0px 130px;
}

.bottom-cta-text-highlight {
  color: #339366;
}

.bottom-cta-image {
  vertical-align: bottom;
  margin-top: -3px
}

.footer-content {
  height: 57px;
  display:grid;
  grid-template-columns:auto 1fr;
  grid-gap: 11px;
  align-items: center;
}

.footer-content-logo {
  margin-left: 1px;
}

.footer-content-copyright {
  font-size: 11px;
  color: #646464;
}












/*******************************
              Page
*******************************/

.hero {
  background:  #e0f1e9;
}

.page {

}


.footer {
  background: #202327;
}


/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {


}


/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
